.luxury-text{
    font-size: 22px;
    font-weight: 100;
    font-style: oblique;
    filter: brightness(110%) contrast(110%);
    -webkit-text-fill-color: goldenrod;

}

.shimmer {
  opacity: 0.15;
}