.luxury-text {
  font-size: 22px;
  font-weight: 300;
  font-style: oblique;

  background: linear-gradient(90deg, #7a5c1a, #d4af37, #7a5c1a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    1px 1px 3px rgba(0,0,0,1),
    0 0 10px rgba(0,0,0,0.9);
}

.shimmer {
  opacity: 0.15;
}