.luxury-text {
  font-size: 22px;
  font-weight: 100;
  font-style: oblique;
  filter: brightness(110%) contrast(110%);
  -webkit-text-fill-color: goldenrod;

  text-shadow:
    0 0 6px rgba(0,0,0,0.9),
    0 2px 12px rgba(0,0,0,0.8),
    0 4px 18px rgba(0,0,0,0.7);
}

.shimmer {
  opacity: 0.15;
}